@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #121212;
}

*::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
}

*::-webkit-scrollbar-corner {
    background-color: black;
    cursor: pointer;
}

:root {
    --main-font-scale: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}

.box-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #0e0e0e;
}

.header {
    transition: 0.1s;
    z-index: 10;
    top: 0;
    position: sticky;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
}

.header img {
    width: 70px;
    border-radius: 4px;
}

.header nav ul {
    flex-wrap: wrap;
    gap: 20px;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li:hover {
    cursor: pointer;
    padding: 5px;
    border-bottom: solid 3px white;
}

.header .container-controll-font {
    font-size: 25px;
    gap: 20px;
    padding: 5px;
    border-radius: 10px;
}

.header .container-controll-font span {
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
}

.header .container-controll-font span:hover {
    color: #fcd111;
}

#apresentation{
    margin-top: 70px;
    position: relative;
    background-image: url(../assets/images/background-apresentation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow-x: hidden;
    color: white;
}

#apresentation h1 {
    margin-top: 40px;
    text-align: center;
    font-size: calc(100px + var(--main-font-scale));
    color: white;
    font-family: 'Libre Baskerville', serif;
}

#apresentation .video-fundo {
    width: 100vw;
    position: fixed;
    object-fit: cover;
    top: -15%;
    z-index: -10;
}

#apresentation img {
    width: 1500px;
}

#news {
    color: white;
    justify-content: start;
    background: rgb(45,45,45);
    background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(5,5,5,1) 100%); 
}

#news h2 {
    margin-top: 35px;
    text-align: center;
    font-size: calc(70px + var(--main-font-scale));
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 40px;
}

#container-multi-news {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: min-content;
    align-items: start;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.container-news {
    position: relative;
    border-radius: 7px;
    background-color: #2d2d2d;
    width: 350px;
    height: 250px;
    margin-bottom: calc(60px + var(--main-font-scale));
}

.container-news:hover {
    height: 400px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #apresentation {
        margin-top: 40px;
    }
    #apresentation h1 {
        font-size: calc(70px + var(--main-font-scale));
    }
}


.container-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.container-news:hover p{
    font-size: calc(24px + var(--main-font-scale));
    width: 300px;
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: #0e0e0ec7;
    padding: 10px;
    border-radius: 7px;
}

.container-news p {
    text-align: center;
    transition: none;
    font-size: calc(18px + var(--main-font-scale));
}

#apresentation2 {
    color: white;
    background-color: #0e0e0e;
}

#apresentation2 h2 {
    margin-top: 60px;
    text-align: center;
    font-size: calc(70px + var(--main-font-scale));
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 60px;
}

#apresentation2 .vehicles-overview .vehicle-overview {
    margin-top: var(--main-font-scale);
    gap: 40px;
    padding: 5px;
    width: 90vw;
    flex-wrap: wrap;
}

#apresentation2 .vehicles-overview .vehicle-overview img {
    flex: 1;
}

#apresentation2 .vehicles-overview .vehicle-overview p {
    font-size: calc(27px + var(--main-font-scale));
    flex: 2;
}

.align-right {
    text-align: right;
}

#apresentation3 {
    position: relative;
    background: rgb(45,45,45);
    background: linear-gradient(0deg, #d9d9d9 0%, rgb(45,45,45) 100%); 
    height: 1000px;
}

#apresentation3 p{
    font-weight: bold;
    top: 50%;
    left: 10%;
    width: 480px;
    position: absolute;
    margin-top: 60px;
    text-align: left;
    font-size: calc(35px + var(--main-font-scale));
    color: #0e0e0e;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 60px;
}

#apresentation3 .video-fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}